@import "colors";

.btn {

}


.btn-primary {
  background-color:$blue ;
  border:1px solid $blue ;
  color:$white;
  border-radius:2px;
  min-width:170px;
  transition : 0.3s;
  &:hover {
    background-color:$white;
    color:$blue;
  }
}

.btn-secondary {
  background-color:$white;
  color:$blue;
  border:0px;
}

.btn-denger {
  color:$white;
  border:1px solid $white;
  min-width:80px;
  &.inverse {
    background-color:$white;
    color:$red
  }
}
