@import "colors";
form {
  input, textarea {
    border:1px solid #ccc;
    border-radius:3px;
    background-color:$white;
    color:$grey;
    padding:5px 8px;
    width:100%;
    &.wrong {
      border:#ff4949;
      background-color:#ffb8b8;
    }
  }
}
