@import "colors";

table {
  width:100%;
  td {
    padding:5px 15px;
  }
  thead {
    tr {
      td {
        background-color:$grey;
        color:$white;
        border-left:1px solid $white;
        &:first-child {
          border-left:0px;
        }
      }
    }
  }
  tbody {
    tr {
      td {

      }
    }
  }
}
