@import "~bootstrap/dist/css/bootstrap.min.css";
@import "colors";
@import "table";
@import "buttons";
@import "modal";
@import "form";

body {
  background-color: $silver;

}
#app {
  font-family: 'Roboto', sans-serif !important;
}

