<template>
    <section class="home py-5">
        <div class="container">
            <HomeStatistics />
            <HomeTable />
            <HomeAddTask />
            <DeleteAlert />
        </div>
    </section>
</template>

<script>
    import HomeStatistics from "./Home/HomeStatistics";
    import HomeTable from "./Home/HomeTable";
    import HomeAddTask from "./Home/HomeAddTask";
    import DeleteAlert from "../components/DeleteAlert";

    export default {
        name: "Home",
        components: {DeleteAlert, HomeAddTask, HomeTable, HomeStatistics},
        computed : {
            tasks() {
                return this.$store.getters["tasks/getTaskByStatus"]("STATUS_NEW");
            }
        },
        mounted() {
            this.$store.dispatch("tasks/loadTasks").then((response) => {
                console.log(response);
            })
        }
    }
</script>

<style lang="scss" scoped>

</style>
