<template>
    <section>
        <transition name="fade">

            <aside v-if="deleteTasks.length > 0">
                <div class="container delete-alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text"><i class="fa fa-exclamation-triangle mr-2"></i> Do you want to delete this
                            news
                        </div>
                        <div class="controls">
                            <button @click="close" class="btn btn-denger mr-2">No</button>
                            <button @click="deleteElements" class="btn btn-denger inverse">Yes</button>
                        </div>
                    </div>
                </div>
            </aside>
        </transition>
    </section>

</template>

<script>
    export default {
        name: "DeleteAlert",
        computed: {
            tasks() {
                return this.$store.getters["tasks/getTasks"];
            },
            deleteTasks() {
                return this.$store.getters["tasks/getTasksForDelete"];
            }
        },
        methods: {
            close() {
                this.$store.commit("tasks/setTasksForDelete" , false);
            },
            deleteElements() {
                this.$store.commit("tasks/removeTasks");
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/colors";

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .delete-alert {
        background-color: $red;
        padding: 8px 15px;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;

        .text {
            line-height: 1;
        }
    }

    aside {
        position: fixed;
        bottom: 5px;
        left: 0px;
        width: 100%;
        color: $white;
    }
</style>
