<template>
    <div @click="sort">
        <span :class="[(isActive === 'ASC' ? 'active' : null)]">&#8963;</span>
        <span :class="[(isActive === 'DESC' ? 'active' : null)]">&#x2304;</span>
    </div>
</template>

<script>
    export default {
        name: "sortArrows",
        computed : {
          isActive() {
              return (this.active ? this.target : null);
          }
        },
        props : {
            active : {
                default :() => null
            },
            target : {
                default : () => "ASC"
            }
        },
        methods : {
            sort() {
                this.$emit("click");
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/colors";

    div {
        display:inline-block;
        justify-content:center;
        float:right;
        width:15px;
        span{
            display: block;
            font-size: 21px;
            line-height: 1;
            margin-top:2px;
            &.active {
                color:$blue;
            }
            &:last-child {
                margin-top:-20px;
            }
        }
    }
</style>
