<template>
    <section class="mt-3">
        <!-- Button trigger modal -->
        <section class="text-right">
            <button class="btn btn-primary text-center" data-target="#exampleModal" data-toggle="modal" type="button">
                Add
            </button>
        </section>

        <!-- Modal -->
        <div ref="modal" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">News</h5>
                    </div>
                    <form ref="form" @submit.prevent="submit">
                        <div class="modal-body">

                            <div class="form-group">
                                <input :class="($v.title.$invalid && $v.title.$dirty ? 'wrong' : null)" @input="$v.title.$touch" placeholder="Add title"
                                       type="text"
                                       v-model="title"/>
                            </div>
                            <div class="form-group">
                                <textarea :class="($v.content.$invalid && $v.content.$dirty ? 'wrong' : null)"
                                          @input="$v.content.$touch"
                                          v-model="content"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer justify-content-start">
                            <button :disabled="$v.$invalid" class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {required} from 'vuelidate/lib/validators'
    import {notBlank} from "../../validators/notBlank";
    import $ from "jquery";

    export default {
        name: "HomeAddTask",
        validations: {
            title: {
                required,
                notBlank
            },
            content: {
                required,
                notBlank
            }
        },
        data() {
            return {
                title: null,
                content: null
            }
        },
        methods : {
            submit() {
                this.$store.dispatch("tasks/addTask",{
                    title: this.title,
                    content: this.content,
                }).then((response)=>{
                    console.log(response)
                    this.title = "";
                    this.content = "";
                    this.$v.title.$reset();
                    this.$v.content.$reset();
                    $(this.$refs.modal).modal("hide");

                }).catch((error) => {
                    //It can't occur at all but - you know "safety"
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>

</style>
