<template>
    <section class="statistics p-5">
        <div class="row text-left">
            <div class="col-lg-4">
                <span class="d-block">Total</span>
                <span class="value">{{total.length}}</span>
            </div>
            <div class="col-lg-4">
                <span class="d-block">Completed</span>
                <span class="value">{{completed.length}}</span>
            </div>
            <div class="col-lg-4">

<!--
                - I wonder about 'not completed' ones. Are they together with new ones or not :D
                - Not completed is not completed.
-->
                <span class="d-block">Not completed</span>
                <span class="value">{{notCompleted.length}}</span>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "HomeStatistics",
        computed: {
            total() {
                return this.$store.getters["tasks/getTasks"];
            },
            completed() {
                return this.$store.getters["tasks/getTaskByStatus"]("STATUS_COMPLETED");
            },
            notCompleted() {
                return this.$store.getters["tasks/getTaskByStatus"]("STATUS_NOT_COMPLETED");
            }
        }
    }
</script>

<style lang="scss" scoped>

    @import "../../assets/scss/colors";

    .statistics {
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0px 0px 5px -2px #ccc;

        span {
            font-weight: 300;
        }

        .value {
            font-size: 30px;
            font-weight: 300;
            color: $grey;
        }
    }
</style>
