<template>
    <section>
        <table class="mt-3">
            <thead>
            <tr>
                <td>
                    <input type="checkbox" @click="setTasksForDelete" v-model="checkedAll"/> ID <sort-arrows @click="setOrderBy('id')" :active="orderBy === 'id'" :target="target"/>
                </td>
                <td>Title <sort-arrows  @click="setOrderBy('title')" :active="orderBy === 'title'" :target="target"/></td>
                <td>Content <sort-arrows  @click="setOrderBy('content')" :active="orderBy === 'content'" :target="target"/></td>
                <td>Status <sort-arrows @click="setOrderBy('status')" :active="orderBy === 'status'" :target="target"/></td>
            </tr>
            </thead>
            <tbody>
            <template v-for="(task,index) in tasks">
                <tr :key="index">
                    <td><input type="checkbox" @click="setTaskForDelete(task)" :checked="task.checked"/> {{task.id}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.content}}</td>
                    <td>{{task.status}}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </section>
</template>

<script>
    import SortArrows from "../../components/sortArrows";
    export default {
        name: "HomeTable",
        components: {SortArrows},
        data() {
            return {
                checkedAll : false
            }
        },
        watch : {
          getTasksForDelete: {
              deep : true,
              handler(tasks) {
                  if(tasks.length === this.tasks.length) {
                      return this.checkedAll = true;
                  }
                  return this.checkedAll = false;
              }
          }
        },
        computed: {
            getTasksForDelete() {
              return this.$store.getters["tasks/getTasksForDelete"];
            },
            tasks() {
                return this.$store.getters["tasks/getFilteredTasks"];
            },
            orderBy() {
                return this.$store.getters["tasks/getOrderBy"];
            },
            target() {
                return this.$store.getters["tasks/getTarget"];
            }
        },
        methods: {
            setOrderBy(order) {
                this.$store.commit("tasks/setOrderBy", order);
            },
            setTarget(target) {
                this.$store.commit("tasks/setOrderBy", target);
            },
            setTaskForDelete(task) {
                this.$store.commit("tasks/setTaskForDelete", task);
            },
            setTasksForDelete() {
                this.$store.commit("tasks/setTasksForDelete",!this.checkedAll);
            }
        },
    }
</script>

<style scoped>
    td {
        cursor: pointer;
    }
</style>
